.card {
  width: 90%;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: -4px 5px 10px 1px #C1C1C1;
  box-shadow: -4px 5px 10px 1px #C1C1C1;

  &__header {
    height: 70px;
    background-color: #00CCAD;
    font-size: 22px;
    color: #ffffff;
    padding: 20px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    .section {
      flex: 0 0 50%;
      padding: 20px;
      margin: 0;
      box-sizing: border-box;
    }
  }

  .section__title {
    font-size: 18px;
    color: #3287d1;
    text-transform: uppercase;

    &:after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      background-image: url("../images/help-12.svg");
      background-repeat: no-repeat;
    }
  }

  .action-item {
    padding: 15px;
    font-size: 17px;
    background-color: #F5F5F5;
    margin-top: 10px;
    text-transform: uppercase;
    color: #77777b;

    &:first-child {
      margin-top: 50px;
    }
  }

  .field {
    margin-top: 20px;

    &__title {
      font-size: 17px;
      color: #aeaeae;
      text-transform: uppercase;
    }

    &__value {
      margin-top: 10px;
      font-size: 17px;
      background-color: #F5F5F5;
      padding: 10px 15px;
      color: #77777b;
    }
  }
}