.header {
  background-color: #4B555F;
  color: #878787;
  padding: 10px;
  font-size: 30px;
}

.toolbar {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f3f3f3;
}

.sidebar {
  flex-shrink: 0;
  background-color: #fff;
  overflow-x: hidden;
  width: 250px;

  &__title {
    font-size: 22px;
    color: #858585;
    padding: 20px 10px;
  }

  .sidebar-items {}

  .sidebar-item {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 3px solid #ffffff;

    &:before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      background-image: url("../images/active.svg");
      background-repeat: no-repeat;
    }

    &:after {
      content: "";
      display: inline-block;
      float: right;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      background-image: url("../images/arrow-right.svg");
      background-repeat: no-repeat;
    }

    &.active {
      background-color: #f3f3f3;
      border-left: 3px solid #5390EA;
    }
  }

  a.sidebar-item {
    color: #585a5a;
  }
}
